{
  "$schema": "https://json.schemastore.org/prettierrc",
  "importOrderSeparation": true,
  "importOrderSortSpecifiers": true,
  "plugins": ["@trivago/prettier-plugin-sort-imports"],
  "tabWidth": 2,
  "useTabs": false
}
